body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


#index-template {
    background-image: url('./images/background.jpg');
    color: white;
    background-size: contain;    
}
.full-vh{
    height: 100vh;
}
table,
th,
td {
    padding: 10px;
    border: 1px solid #fff;
}
table {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
nav>ul {
    padding: 10px;
    margin-top: 0;
}
nav li {
    list-style: none;
    display: inline;
    margin-inline-end: 20px;
}
nav li a {
    color: #fff;
    text-decoration: none;
}
#dashboard-nav a {
    color: #000;
}
li {
    text-align: left;
}
.container.main {
    height: 100vh;
    color: #fff;
    background-image: url(./images/hogwartz.jpg) ;
    background-size: cover;
    background-position-x: center;    
    text-align: center;
}
h1.welcome {
    color: #f4f9f4;
    font-family: 'Pirata One', cursive;
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 7px;
    padding-top: 10px;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
    color: transparent;
    background-clip: text;
	-moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}
.enter-crm a {
    color: white;
    font-family: 'Pirata One', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: none;
}
.enter-crm {
    margin-top: 5px;
}
.center-text{
    text-align: center;
}

/* ADD STUDENT */
.bottom-space {
    margin-bottom: 5px;
}


/* SUCCESSFULLY ADDED */
.record-container {
    display: grid;
}
.details {
    justify-self: center;  
}
.details h4{
    margin-bottom: 5px;
}
.red {
    color: #fa163f;
}



.chart-wrapper {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
.chart-header {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

.chart-description {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 20px;
  color: #999;
}


.nav-link {
    font-size: 2.2rem;
    margin-inline-start: 15px;
}
.nav-img {
    height: 160px;
    vertical-align: middle;
}
.nav-container {
    font-family: 'Pirata One', cursive;
    text-align: center;
}



.gryffindor {
    background-image: url('./images/gryffindor-crest.png');
}
.hufflepuff {
    background-image: url('./images/hufflepuff-crest.png');
}
.ravenclaw {
    background-image: url('./images/ravenclaw-crest.png');
}
.slytherin {
    background-image: url('./images/slytherin-crest.png');
}

.house {
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

.to-link{
    color: #fff;
}
.in-view-link {
    margin-inline-end: 15px;
}
.list-subcontainer {
    display: inline-block;
}
