body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


#index-template {
    background-image: url('./images/background.jpg');
    color: white;
    background-size: contain;    
}
.full-vh{
    min-height: 100vh;
}
table,
th,
td {
    padding: 10px;
    border: 1px solid #fff;
}
table {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
nav>ul {
    padding: 10px;
    margin-top: 0;
}
nav li {
    list-style: none;
    display: inline;
    margin-inline-end: 20px;
}
nav li a {
    color: #fff;
    text-decoration: none;
}
#dashboard-nav a {
    color: #000;
}
li {
    text-align: left;
}
.container.main {
    height: 100vh;
    color: #fff;
    background-image: url(./images/hogwartz.jpg) ;
    background-size: cover;
    background-position-x: center;    
    text-align: center;
}
h1.welcome {
    color: #f4f9f4;
    font-family: 'Pirata One', cursive;
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 7px;
    padding-top: 10px;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
    color: transparent;
    background-clip: text;
	-moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}
.enter-crm a {
    color: white;
    font-family: 'Pirata One', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: none;
}
.enter-crm {
    margin-top: 5px;
}
.center-text{
    text-align: center;
}


.bottom-space {
    margin-bottom: 5px;
}

.student.record-container {
    margin: 60px;
    color: black;    
}
.student.record-container table{    
    border-color: transparent;    
}
.student.record-container th,
.student.record-container td{    
    border-color: black;    
}

.scroll-bg {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url(./images/scroll.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.record-container {
    display: grid;
}
.details {
    padding: 25px;
    justify-self: center; 
    background-color:black; 
}
.details h4{
    margin-bottom: 5px;
}
.red {
    color: #fa163f;
}
.level-color {
    color:#ff0000;
    font-weight: bold;
}


.chart-wrapper {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
  }
.chart-header {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

.chart-description {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 20px;
  color: #999;
}


.nav-link {
    font-size: 2.2rem;
    margin-inline-start: 15px;
}
.nav-img {
    height: 160px;
    vertical-align: middle;
}
.nav-container {
    font-family: 'Pirata One', cursive;
    text-align: center;
}



.gryffindor {
    background-image: url('./images/gryffindor-crest.png');
}
.hufflepuff {
    background-image: url('./images/hufflepuff-crest.png');
}
.ravenclaw {
    background-image: url('./images/ravenclaw-crest.png');
}
.slytherin {
    background-image: url('./images/slytherin-crest.png');
}

.house {
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    
}
.house-info {
    display: grid;
    margin-inline-start: 25%;
    margin-inline-end: 25%;
    padding-bottom: 40px;
    padding-top: 40px;
}
.house-description {
    margin-top: 15px;
    font-family: 'Pirata One', cursive;
    font-size: 2rem;
}
.gryffindor-text{
    color: #db3056;
}
.hufflepuff-text{
    color: #ffd369;
}
.slytherin-text{
    color: #6fc1a5;
}
.ravenclaw-text{
    color: #4d80e4;
}

.to-link{
    color: #fff;
}
.in-view-link {
    margin-inline-end: 15px;
}
.list-subcontainer {
    display: inline-block;
}

/* ADD STUDENT */
.current-magic-table {
    background-color: #4592af;
}
.desired-magic-table {
    background-color: #ee4540;
}
.input-skills-container {
    display: inline-block;
    margin-inline-end: 20px;
}

/* SEARCH RECORD */
#search-btn {
    margin-inline-start: 0.5rem;
}
#search-btn:hover {
    color: #fff;
    background-color:#dc3545;
    border-color:#dc3545;
    border-radius: 3px;
    box-shadow: 0 0 0 0.2rem;
}
#search-results {
    margin-top: 20px;
    margin-bottom: 20px;
}
#search-results a {
    color: white;
}
.search-result-item {
    margin-top: 15px;
    margin-bottom: 15px;
}