{% extends "index.html" %}

{% block content %}
<h2>Add a Student</h2>
<div class="record-container">
    {% if message is not none %}<p class='center-text red'>{{ message }}</p>{% endif %}

    <form class="details" spellcheck="false" action="{{ url_for('success_add')}}" method="POST">
        <div class="bottom-space">
            <span><strong>First Name:</strong></span>
            <input id="add-first-name" placeholder="First name" type="text" autocomplete="off" name="firstName"
                required>
        </div>
        <div>
            <span><strong>Last Name:</strong></span>
            <input id="add-last-name" placeholder="Last name" type="text" autocomplete="off" name="lastName" required>
        </div>
        <div>
            <div class="input-skills-container">
                <h4>Current Magic Skills</h4>
                <table>
                    <tr>
                        <th>Topic</th>
                        <th>Level</th>
                    </tr>
                    {% for item in all_magic %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>
                            <select class="level-color" id="Current {{ item }}" name="Current {{ item }}">
                                <option value='0'></option>
                                {% for i in range(1, 6) %}
                                <option value='{{i}}'>{{i}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="input-skills-container">
                <h4>Desired Magic Skills</h4>
                <table>
                    <tr>
                        <th>Topic</th>
                        <th>Level</th>
                    </tr>
                    {% for item in all_magic %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>
                            <select class="level-color" id="Desired {{ item }}" name="Desired {{ item }}">
                                <option value='0'></option>
                                {% for i in range(1, 6) %}
                                <option value='{{i}}'>{{i}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div>
            <h4>Desired Courses</h4>
            <select multiple id="courseDesired" name="courseDesired" class="bottom-space" size="{{all_courses|length}}">
                {% for course in all_courses %}
                <option value="{{course}}">{{course}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="bottom-space">
            <button type="submit"> Submit </button>
        </div>

    </form>
</div>

{% endblock %}