{% extends "index.html" %}

{% block content %}
<h2>Add a Student</h2>
<div class="record-container">
    {% if message is not none %}<p class='center-text red'>{{ message }}</p>{% endif %}

    <form class="details" spellcheck="false" action="{{ url_for('success_add')}}" method="POST">
        <div class="bottom-space">
            <span><strong>First Name:</strong></span>
            <input id="add-first-name" placeholder="First name" type="text" autocomplete="off" name="firstName" required>
        </div>
        <div>
            <span><strong>Last Name:</strong></span>
            <input id="add-last-name" placeholder="Last name" type="text" autocomplete="off" name="lastName" required>
        </div>
        <div>
            <h4>Current Magic Skills</h4>
            <table class="current-magic-table">
                <tr>
                    <th>Topic</th>
                    <th>L1</th>
                    <th>L2</th>
                    <th>L3</th>
                    <th>L4</th>
                    <th>L5</th>
                </tr>
                {% for item in all_magic %}
                <tr>
                    <td>{{ item }}</td>
                    {% for i in range(1, 6) %}
                        <td><input type="radio" name="Current {{item}}" value="{{i}}"></td>   
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h4>Desired Magic Skills</h4>
            <table class="desired-magic-table">
                <tr>
                    <th>Topic</th>
                    <th>L1</th>
                    <th>L2</th>
                    <th>L3</th>
                    <th>L4</th>
                    <th>L5</th>
                </tr>
                {% for item in all_magic %}
                <tr>
                    <td>{{ item }}</td>
                    {% for i in range(1, 6) %}
                        <td><input type="radio" name="Desired {{item}}" value="{{i}}"></td>   
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>

        <div>
            <h4>Desired Courses</h4>
            <select multiple id="courseDesired" name="courseDesired" class="bottom-space" size="{{all_courses|length}}">
                {% for course in all_courses %}                
                <option value="{{course}}">{{course}}</option>                
                {% endfor %}
            </select>
        </div>

        <div class="bottom-space">
            <button type="submit"> Submit </button>
        </div>

    </form>
</div>

{% endblock %}