<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Pirata+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <title>Dashboard</title>
</head>

<body onload="fetch_crm_data()">
    <nav id="dashboard-nav" class="nav-container">
        <ul>            
            <li class="nav-link"><a href="{{url_for('list_students')}}">Students List</a></li>
            <li class="nav-link"><a href="{{url_for('find_student')}}">Find Student</a></li>
            <li class="nav-link">
                <a href="{{url_for('home_page')}}">
                    <img class="nav-img" src="../static/images/hogwarts-crest.png"/>
                </a>
            </li>
            <li class="nav-link"><a href="{{url_for('add_student')}}">Add Student</a></li>
            <li class="nav-link"><a href="{{url_for('show_dashboard')}}">Dashboard</a></li>
        </ul>
    </nav>

    <div class="chart-wrapper" >
        <h1 class="chart-header">Current Magic Skills Data</h1>
        <canvas id="currentMagicChart" width="400" height="400"></canvas>
    </div>

    <div class="chart-wrapper" >
        <h1 class="chart-header">Desired Magic Skills Data</h1>
        <canvas id="desiredMagicChart" width="400" height="400"></canvas>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
    <script src="{{url_for('static', filename='crm.js')}}"></script>

</body>

</html>