{% extends "index.html" %}

{% block content %}

<div class="houses-container">
    <div class="house-info">
        <div class="house gryffindor"></div>
        <div class="house-description gryffindor-text">
            Gryffindor values bravery, daring, nerve, and chivalry. 
            Its emblematic animal is the lion and its colours are scarlet and gold.
            The founder of the house was Godric Gryffindor.
            Gryffindor corresponds to the element of Fire.
        </div>
    </div>

    <div class="house-info">
        <div class="house hufflepuff"></div>
        <div class="house-description hufflepuff-text">
            Hufflepuff values hard work, dedication, patience, loyalty, and fair play. 
            Its emblematic animal is the badger, and Yellow and Black are its colours.
            The founder of the house was Helga Hufflepuff.
            Hufflepuff corresponds to the element of Earth.
        </div>
    </div>

    <div class="house-info">
        <div class="house ravenclaw"></div>
        <div class="house-description ravenclaw-text">
            Ravenclaw values intelligence, knowledge, and wit. 
            Its emblematic animal is the eagle, and its colours are blue and bronze.
            The founder of the house was Rowena Ravenclaw. 
            Ravenclaw corresponds to the element of Air.
        </div>
    </div>

    <div class="house-info">
        <div class="house slytherin"></div>
        <div class="house-description slytherin-text">
            Slytherin house values ambition, cunning and resourcefulness.
            Its emblematic animal is the serpent, and its colours are emerald green and silver.
            The founder of the house was Salazar Slytherin.
            Slytherin corresponds roughly to the element of Water.
        </div>
    </div>
</div>

{% endblock %}