<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css?family=Pirata+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f26da25149.js" crossorigin="anonymous"></script>

    <title>Hogwartz CRM</title>
</head>

<body>
    <section class="container main">
        <h1 class="welcome">Welcome to Hogwartz</h1>
        <p class="enter-crm">
            <a href="{{ url_for('home_page')}}">
                <i class="fas fa-feather-alt"></i>
                Enter
                <i class="fas fa-feather-alt"></i>

            </a>
        </p>
    </section>
</body>

</html>