{% extends "index.html" %}

{% block content %}
<div class='full-vh'>
    <h2>View student</h2>
    <a class="to-link in-view-link" href="{{ url_for('list_students') }}">Back to List</a>
    <a class="to-link in-view-link" href="{{ url_for('update_student', record_id = rec_id) }}">Edit Record</a>

    <p><strong>Record ID:</strong> {{ rec_id }}</p>
    <p><strong>First Name:</strong> {{ info['first_name'].capitalize() }}</p>
    <p><strong>Last Name:</strong> {{ info['last_name'].capitalize() }}</p>
    <p><strong>Current Magic Skillz:</strong></p>
    <div class="list-subcontainer">
        <ul>
            {% for element in info['current_magic'] %}
            <li>{{ element }}</li>
            {% endfor %}
        </ul>
    </div>
    <p><strong>Desired Magic Skills:</strong></p>
    <div class="list-subcontainer">
        <ul>
            {% for element in info['desired_magic'] %}
            <li>{{ element }}</li>
            {% endfor %}
        </ul>
    </div>

    <p><strong>Desired Course:</strong></p>
    <div class="list-subcontainer">
        <ul>
            {% for element in info['desired_course'] %}
            <li>{{ element }}</li>
            {% endfor %}
        </ul>
    </div>

    <p><strong>Date Record Created:</strong> {{ info['created'] }}</p>
    <p><strong>Date Record Last Updated:</strong> {{ info['last_updated'] }}</p>
</div>

{% endblock %}